<!DOCTYPE html>
<html dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Yesterday you said tomorrow</title>
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/index.css">
        <script src="./js/vue.js"></script>
        <script src="./js/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <nav class="top">
                <div class="center">
                    <div class="logo fl">
                        <span class="logofont">&#xe691;</span>
                        <i class="logofont">&#xe6ac;</i>
                        <i class="logofont">&#xe67a;</i>
                        <i class="logofont">&#xe679;</i>
                        <i class="logofont">&#xe67f;</i>
                    </div>
                    <div class="nav fr">
                        <a class="on" href="index.html">综合频道</a>
                        <a href="record.html">纪录频道</a>
                        <a href="farming.html">农业频道</a>
                    </div>
                </div>
            </nav>
            <div class="wrap banner">
                <span class="banner-font">&#xe691;</span>
                <span class="banner-triangle">&#xe707;</span>
                <span class="banner-slogen">YESTERDAY YOU SAID TOMORROW</span>
            </div>
            <div class="wrap">
                <div class="center">
                    <p class="public-tit" @click="post">
                        <span class="public-tit-main">- 网站收藏 -</span>
                        <span class="public-tit-sub">wǎng zhàn shōu cáng</span>
                    </p>
                    <ul class="flex-box">
                        <li v-for="(url,index) in link" :key="index">
                            <a target="_blank" v-bind:href="url.url">{{url.name}}</a>
                        </li>
                    </ul>
                    <p class="public-tit">
                        <span class="public-tit-main">- 我的笔记 -</span>
                        <span class="public-tit-sub">wǒ de bǐ jì</span>
                    </p>
                    <div class="flex-box">
                        <a class="flex-pic-box" v-for="(note,key) in note" :key="key" v-on:click="pop(key)">
                            <span class="bg1">{{note.subTitle}}</span>
                            <i>{{note.title}}</i>
                        </a>
                    </div>
                </div>
            </div>
            <footer>By BearDryDirty</footer>
            <div class="pop" v-bind:class="{show:show}">
                <p class="pop-title">
                    {{noteTitle}} {{notesubTitle}}
                    <i class="pop-close transition" @click="popClose">&#xe635;</i>
                </p>
                <div class="pop-wen" v-html="noteMain">
                </div>
            </div>
            <div class="cover" v-bind:class="{show:show}" @click="popClose"></div>
        </div>
    </body>
    <script>
    new Vue({
        el:"#app",
        mounted(){
            this.post()
        },
        data:{
            link:[],
            note:[],
            noteTitle:"",
            notesubTitle:"",
            noteMain:"",
            show:false
        },
        methods:{
            post:function(){
                axios.get('data/data.json')
                .then(function (response) {
                    this.link = response.data.link;
                    this.note = response.data.note;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
            },
            pop:function(index){
                this.noteTitle = this.note[index].title;
                this.notesubTitle = this.note[index].subTitle;
                this.noteMain = this.note[index].main;
                this.show = !this.show;
            },
            popClose:function(){
                this.show = !this.show
            }
        },
        computed:{

        },

    })
    </script>
</html>
